/* BACKGROUND AND COLOR TEXT */
body {

background-color: rgba(0, 0, 59, 0.904);
color: white;
overflow-x: hidden;

font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
font-weight: 100;

}

/* BOX SIZING, reset margin/padding */
body, html {

    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

/* 4 DIV AVEC ID DIFFERENT */
#demonstration1, #demonstration2, #demonstration3, #demonstration4 {

    border: 2px solid white;
    text-align: justify;

    padding: 5px 25px 5px 25px;
    margin-top: 2em;
    font-size: 19.5px;

    background-color: rgba(0, 0, 59, 1);

}

.P {

    transition: 1s;
    color: rgb(0, 162, 255);

}

/* Après recuperation de JS, changement en couleur bleu */
.P--modifierJS{

    transition: 1s;
    color: rgb(255, 187, 0);

}

/* LINK BALISE div */
.div {

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

}

/* LINK BALISE <a> */
.div--link {

    align-self: center;

    text-decoration: none;
    color: white;

    font-size: 3.5vw;

    border: 2px solid white;

    background-color: rgba(0, 0, 59, 1);

    padding: 25px 35px 25px 35px;
    margin-top: 1em;

    max-width: 25vw;

}

/* LINK HOVER */
.div--link:hover {

    box-shadow: 0 0 5px 1px rgba(255, 255, 255, 0.521);
    transform: scale(1.01);
    text-shadow: 15px 0px 15px rgba(255, 255, 255, 0.521);
    color: rgb(255, 166, 0);

}


/* TEST PROPA */
.test--propa {

    border: 2px solid white;
    text-align: center;

    padding: 5px 25px 5px 25px;
    margin-top: 2em;
    font-size: 19.5px;

    background-color: rgba(0, 0, 59, 1);



}

.test--propa a {

    display: block;

     text-decoration: none;
     color: rgb(0, 174, 255);
     font-size: 25px;

     border: 1px solid rgb(0, 174, 255);
     padding: 15px;

     margin: 2em;
     background-color: rgba(0, 0, 59, 1);

}

.test--propa a:hover {

    background-color: rgba(255, 255, 255, 0.1);

}

form {

    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    border: 2px solid white;
    background-color: rgba(0, 0, 59, 1);
    padding: 20px;

    margin-bottom: 2em;

}

input {

    margin-bottom: 1em;
    width: 65vw;

}

label {

    width: 65vw;
    margin: 0 0 0.5em 0;

}